spring:
  application:
    name: magic_english

  magic_english:
  jwt:
    base64-secret: TRrx3ZoD9xgevlM73MU8/ay9VO+8RJ7NjvFh5Ab0xoTsKzuPYwCOKDZugGYsVxroYRfP94DH6jBxBhFyBPaQQQ==
    access-token-validity-in-seconds: 36000 # 1 hour
    refresh-token-validity-in-seconds: 2592000 # 30 days
